{% extends 'layouts/mapDefault.html' %}
{% block content %}
  <section data-ui-view ></section>
  <script type="text/javascript">
    window.user = {{user|json|safe}};
    window.modules = {{modules|json|safe}};
  </script>
{% endblock %}
