<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{% include '../includes/head.html' %}

<body data-ng-controller="ThemeController" ng-cloak class="ng-cloak" ng-class="state" style="display:table">
    <div class="navbar navbar-inverse" data-ng-include="'/system/views/header.html'" data-role="navigation" style="margin-bottom:5px;"></div>
    <!--{% if adminEnabled %}
    <section class="admin-menu">
        <div data-ng-include="'/mean-admin/views/index.html'"></div>
    </section>
    {% endif %}-->

    <section class="full-height-container"style="display: table-row; padding:0; width:100%; height:100%">
        {% block content %}{% endblock %}
    </section>

    {% include '../includes/foot.html' %}
</body>

</html>
