<div class="container-fluid" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" data-mean-token="'site-title'">FTS Map</a>
    </div>

    <nav class="navbar-collapse collapse" id="navbar-main" role="navigation">
        <ul class="nav navbar-nav">
            <li data-ng-repeat="item in menus.main" data-ng-if="item.dropdown" class="dropdown">
                <a data-mean-token="item.link" class="dropdown-toggle">{{item.title}}<b class="caret"></b></a>
                <ul ng-show="item.dropdown" class="dropdown-menu">
                    <li ng-repeat="subitem in item.dropdown" data-ui-sref="{{subitem.link}}" data-ui-sref-active="active" ng-class="{divider: subitem.divider}">
                        <a data-ui-sref='{{subitem.link}}'>{{subitem.title}}</a>
                    </li>
                </ul>
            </li>
            <li data-ng-repeat="item in menus.main" data-ui-sref="{{item.link}}" data-ui-sref-active="active" data-ng-if="!item.dropdown">
                <a data-ui-sref="{{item.link}}">{{item.title}}</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" data-ng-hide="global.authenticated">
            <li>
                <a data-ui-sref="auth.register">Register</a>
            </li>
            <li>
                <a data-ui-sref="auth.login">Login</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" data-ng-show="global.authenticated">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{global.user.name}}
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/logout">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!--</div>-->
    </nav>
</div>
