<section class="full-height" data-ng-controller="TrafficLiveController" data-ng-init="liveTrafficInit()">
    <leaflet center="center" layers="layers" markers="markers" geojson="geojson" height="100%"></leaflet>
</section>

