<section class="full-height" data-ng-controller="FtsmapCameraCanThoController" data-ng-init="init()">
    <leaflet center="center" layers="layers" height="100%" markers="markers"></leaflet>
</section>

