﻿<section data-ng-controller="MaplinkController" data-ng-init="playgroundInit()">
    <div>
        <div class="col-md-8">
            <leaflet center="center" layers="layers" markers="markers" geojson="geojson" height="700"></leaflet>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Tham số</h3>
                </div>
                <div class="panel-body">
                    <form name="templateForm" class="form-horizontal col-md-12" role="form">
                        <fieldset>

                            <div class="form-group">
                                <label class="col-md-2 control-label">lng</label>
                                <div class="col-md-10">
                                    <input data-ng-model="markers[0].lng" placeholder="lng" class="form-control" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">lat</label>
                                <div class="col-md-10">
                                    <input data-ng-model="markers[0].lat" placeholder="lat" class="form-control" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">zoom</label>
                                <div class="col-md-10">
                                    <input data-ng-model="zoom" placeholder="zoom" class="form-control" type="text" disabled>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">detail</label>
                                <div class="col-md-10">
                                    <div class="btn-group">
                                        <label class="btn btn-primary" ng-model="detail" data-btn-radio="true">true</label>
                                        <label class="btn btn-primary" ng-model="detail" data-btn-radio="false">false</label>
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </form>
                </div>
                <div class="panel-footer">
                        http://map.stis.vn/maplink/get?lat={{markers[0].lat}}&lng={{markers[0].lng}}&zoom={{zoom}}&detail={{detail}}
                </div>

            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Thông tin</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>key</th>
                            <th>value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in link">
                            <td> {{key}} </td>
                            <td> {{ value | json}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
